{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/styles/footer.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}

{% block title %}Hello FooterTestController!{% endblock %}

{% block body %}
<footer class="container-fluid bg-footer-custom pt-5 pb-5"> 
    <div class="row"> 
        <div class="col-md-6">
            <p class="footer-links footer-small-text">
                <a href="/numiks" class="footer-link-text text-white me-2" title="Découvrez NUMIKS">NUMIKS</a>
                <a href="/agenda" class="footer-link-text text-white me-2" title="Consultez notre agenda">AGENDA</a>
                <a href="/equipement" class="footer-link-text text-white me-2" title="Explorez nos équipements">EQUIPEMENT</a>
                <a href="/actualite" class="footer-link-text text-white me-2" title="Lisez nos dernières actualités">ACTUALITE</a>
                <a href="/adhesion" class="footer-link-text text-white" title="Rejoignez-nous en devenant membre">ADHESION</a>
            </p>
            <a href="/mentions-legales" class="footer-mention footer-mention-text text-white" title="Consultez nos mentions légales">Mentions légales</a>
        </div>

        <div class="col-md-6 footer-small-text text-white">
            <div>
                <i class="fa fa-map-marker me-2"></i>
                <span>35 rue de la Haye, 34080 MONTPELLIER</span>
            </div>
            <div>
                <i class="fa fa-phone me-2"></i>
                <span>04 . 99 . 54 . 77 . 29</span>
            </div>
            <div>
                <i class="fa fa-envelope me-2"></i>
                <a href="mailto:mpt.dubout@ville-montpellier.fr" class="text-white" aria-label="Envoyer un email à mpt.dubout@ville-montpellier.fr">mpt.dubout@ville-montpellier.fr</a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
