{% extends 'adminTemplatePage.html.twig' %}

{% block title %}Administration des Machines{% endblock %}

{% block main %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Gestion des Machines</h1>
    {% include "components/_flash.html.twig" %}
    <div class="text-end mb-3">
        <a href="{{ path('admin_machines_new') }}" class="btn btn-secondary">Ajouter une machine</a>
    </div>
    
    {# Tout #}
    <h2 class="mt-3 mb-4">Toutes les machines</h2>
    <div class="animate__animated animate__fadeInLeftBig animate__fast">
         {{ include('admin_machines/table.html.twig', {'machines': allMachines}) }}
    </div>
   
    
    {# Accès Membre #}
    <h2 class="mt-3 mb-4">Machines avec Accès Membre uniquement</h2>
    <div class="animate__animated animate__fadeInLeftBig">
         {{ include('admin_machines/table.html.twig', {'machines': memberAccessMachines}) }}
    </div>
    
    
    {# Réservées #}
    <h2 class="mt-3 mb-4">Machines Réservées</h2>
    <div class="animate__animated animate__fadeInLeftBig">
         {{ include('admin_machines/table.html.twig', {'machines': bookedMachines}) }}
    </div>
    
</div>
{% endblock %}
