{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/styles/homePage/section_home_fablab.css') }}">
{% endblock %}
<section>
<div class="container mt-3" id="homeSection">
    <div class="container text-center-xl" id="homeBloc">
        <div class="row text-center" id="background-logo-home">
            <h1 id="h1-home"><img src="{{ asset('assets/images/logoFablabNavbar.svg') }}" alt="Logo du FabLab" id="logo-home"/></h1>
        </div>
        <div class="card-body mt-5">
            <h4 class="h4 card-title mb-3">Découvrez notre FabLab : le foyer de la création artisanale et technologique !</h4>
            <p class="card-text">Rejoignez-nous pour donner vie à vos idées les plus audacieuses. Notre espace stimulant offre une pléthore d'outils modernes, des imprimantes 3D aux machines-outils sophistiquées, pour concrétiser vos projets les plus ambitieux. Que vous soyez un bricoleur novice ou un innovateur chevronné, notre équipe passionnée est là pour vous guider à chaque étape du processus de fabrication. Explorez, expérimentez et créez avec nous au FabLab, où l'imagination devient réalité !</p>
            <div class="text-end">
            <button class="btn button-primary"><a class="a-button" href="#">Plus d'informations</a></button>
            </div>
        </div>
    </div>
</div>
</section>