<!DOCTYPE html>
<html>

<head>
    <title>Adhésion au FabLab</title>
</head>

<body>

    <h1 style="color: #6d3e91; text-align: center;">Félicitation {{ user.firstname }} </h1>
    <div style="max-width: 600px; margin: auto; text-align: center ; padding: 20px; border-radius: 8px;">
        <p>Votre adhésion au Fablab Numiks est validée.
            <br> Connectez-vous à votre espace personnel avec votre identifiant:
            <br> {{ user.username }}
        <p>A bientôt</p>
    </div>
</body>

</html>