{% extends 'adminTemplatePage.html.twig' %}

{% block title %}New UnitsConsummable{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/styles/categorieAdmin.css') }}">
{% endblock %}

{% block main %}
<a role="button" class="btn btn-outline-primary btn-sm" href="{{ path('app_units_consummable_index') }}" style="border-radius:10%;">
    < Retour </a>

    <h1>Create new UnitsConsummable</h1>

    {{ include('/admin_consummables/units_consummable/_form.html.twig') }}

{% endblock %}
